{% extends "layout.html" %}
{% block body %}
    {% if current_user.is_authenticated %}
        <h2>I need some TEXTTTTTT!!!!!</h2>
        <form action="{{ url_for('conceptual') }}" id="concept_form" method="Post">
            <textarea name="concept_text" form="concept_form" placeholder="Enter text here..."></textarea>
            <br>
            <input class="buttonstd" type="submit" value="Submit">
        </form>

        {% if admin_data %}
            {% if admin_data.results['errors'] %}
                <hr>
                <h2>Errors :(</h2>
                <h3>{{ admin_data.results['errors'] | safe }}</h3>
                <img src="/static/oops.jpg" height="500px" alt="You dun broked it.">
            {% endif %}
            <hr>
            <h2>{{ area }}  Breakdown</h2>
            <div style="overflow-x:auto;">
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Cumulative Employee Health</th>
                            <th scope="col">Cumulative Sentiments</th>
                            <th scope="col">Cumulative Occurrences</th>
                        </tr>
                    </thead>
                    {% for row in admin_data.results['cumulative_totals'] %}
                        <tr>
                            <td>
                                {{ row['cumulEmpHealth'] }}
                            </td>
                            <td>
                                {{ row['cumulSentiment'] }}
                            </td>
                            <td>
                                {{ row['cumulOccurances'] }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% else %}
            <img src="/static/admin.jpg" height="500px" alt="But how does it make you feeel?">
        {% endif %}
    {% else %}
        <h1><a href="{{ url_for('oauth_authorize', provider='facebook') }}">Log in fool!</a></h1>
        <img src="/static/loginplz.jpg" height="500px" alt="LOGINNNN">
    {% endif %}
{% endblock %}