{% extends "layout.html" %}
{% block body %}
    {% if current_user.is_authenticated %}
        <h2>Search Entries</h2>
        <form action="{{ url_for('finduser') }}" id="find_form" method="Post">
            <input name="finduserid" form="find_form" placeholder="Enter text here..."></input>
            <br>
            <input class="buttonstd" type="submit" value="Submit">
        </form>

        {% if userdata %}
            <div style="overflow-x:auto;">
                <table>
                    <thead>
                        <td>TimeStamp</td>
                        <td>Entry</td>
                    </thead>
                    {% for entry in userdata %}
                        <tr>
                            <td>{{ entry }}</td>
                            <td>{{ userdata[entry ]}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% else %}
            <h1>No entries found.</h1>
            <img src="/static/psychiatrist.jpg" height="500px" alt="But how does it make you feeel?">
        {% endif %}
    {% else %}
        <h1><a href="{{ url_for('oauth_authorize', provider='facebook') }}">Log in fool!</a></h1>
        <img src="/static/loginplz.jpg" height="500px" alt="LOGINNNN">
    {% endif %}
{% endblock %}