{% extends "layout.html" %}
{% block body %}
    {% for message in get_flashed_messages() %}
        <p><b>Error</b>: {{ message }}</p>
    {% endfor %}
    {% if current_user.is_authenticated %}
        <h2>Hi, {{ current_user.name }}!</h2>
        <img src="/static/friendly_wave.jpg" alt="Whaddup cuz">
        <!--<h2><a class="buttonstd" width="240px" href="{{ url_for('sentimental') }}">Sentiment Analysis</a></h2>
        <h2><a class="buttonstd" width="240px" href="{{ url_for('clarifai') }}">Image Analysis</a></h2>
        <h2><a class="buttonstd" width="240px" href="{{ url_for('conceptual') }}">Concept Extraction</a></h2>
        <h2><a class="buttonstd" width="240px" href="{{ url_for('journal') }}">Journal</a></h2>-->
        <h2>Tell me how you REALLY feel...</h2>
        <form action="{{ url_for('journal') }}" id="journal_form" method="Post">
            <textarea name="journal_text" form="journal_form" placeholder="Enter text here..." rows="7" cols="75"></textarea>
            <br>
            <h2><input class="buttonstd" type="submit" value="Submit"></h2>
        </form>
        {% if 'admin' in current_user.role %}
            <h2><a class="buttonstd" width="240px" href="https://us-east-1.quicksight.aws.amazon.com/sn/analyses/d7482739-293e-4f63-aec2-1544c2e8cecf"  target="_blank">View Breakdown</a></h2>
            <h2><a class="buttonstd" width="240px" href="{{ url_for('finduser') }}"  >Find User</a></h2>
        {% endif %}
    {% else %}
        <h2>I don't know you!</h2>
        <img src="/static/suspicious_man.jpg" height="500px" alt="I DONT KNOW YOU">
    {% endif %}
{% endblock %}